[Desktop Entry]
Name=BattLog
Comment=Log battery discharge profile
Exec=battlog.elf
Icon=battlog
Categories=applications;
Terminal=false
Type=Application
StartupNotify=true
